.cms-editor-main-content {
  padding: var(--size-3);
  overflow: auto;
  height: 100%;
}

.cms-editor-main-table-field {
  overflow: auto;
}

.cms-editor-main-table-container {
  position: relative;
  overflow: hidden auto;
}

.cms-editor-main-table {
  display: grid;
}

.cms-editor-main-table thead {
  height: 36px;
  white-space: nowrap;
}

.cms-editor-main-table tr {
  display: flex;
  position: absolute;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.cms-editor-main-table tr > *:last-child {
  flex-grow: 1;
}

.cms-editor-main-table th {
  overflow: hidden;
}

.cms-editor-main-table span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
